  # ─────────────────────────────────────────
  # HUGGINGFACE
  # ─────────────────────────────────────────
  HUGGINGFACE_TOKEN=your_hf_token_here

  # ─────────────────────────────────────────
  # MODEL
  # ─────────────────────────────────────────
  BASE_MODEL=microsoft/layoutlmv3-base
  FINE_TUNED_MODEL_PATH=./models/fine_tuned
  CONFIDENCE_THRESHOLD=0.5
 # ─────────────────────────────────────────
  # CHROMADB
  # ─────────────────────────────────────────
  CHROMA_PERSIST_DIR=./data/chroma_db

  # ─────────────────────────────────────────
  # DATASET
  # ─────────────────────────────────────────
  DATASET_NAME=nielsr/docvqa_1200_examples
  RAW_DATA_DIR=./data/raw
  PROCESSED_DATA_DIR=./data/processed
# ─────────────────────────────────────────
  # TRAINING
  # ─────────────────────────────────────────
  NUM_EPOCHS=5
  BATCH_SIZE=4
  LEARNING_RATE=5e-5
  MAX_SEQ_LENGTH=512

  # ─────────────────────────────────────────
  # ENTERPRISE (Azure Document Intelligence)
  # ─────────────────────────────────────────
  AZURE_DOC_INTELLIGENCE_ENDPOINT=your_endpoint_here
  AZURE_DOC_INTELLIGENCE_KEY=your_key_here